
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// mdbootstrap
@import "node_modules/materialize-css/sass/materialize";

.profile-list {
  &__item {
    display: none;

    &.active {
      display: block;

      img {
        width: 150px;
        height: 150px;
        border: 3px solid #fff;
      }
    }
  }
}

// @todo We need to split these coding.
#app {
  background-color: #f5f5f5;
}

nav.nav-extended {
  height: auto;
  position: relative;
}

.profile-current {
  text-align: center;
}

.profile-avatar {
  height: 150px;
}

.profile-list__item-name {
  font-size: 20px;
  line-height: 3em;
}

.nav-extended .nav-background {
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .1;
  overflow: hidden;
}

nav .nav-background .ea {
  height:1000px;
  top: 0;
  bottom: 0;
  -webkit-transform: none;
  background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?11838297021386793225');
  transform: none;
  background-repeat: repeat;
}

.timeline-wrapper {
  margin-top: 20px;
}

.timeline {
  border-left: 3px solid #00BCD4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
  
  .item {
    position: relative;
    margin-bottom: 45px;
    list-style: none;

    .moment-meta {
      position: absolute;
      left: -280px;
      top: 0;
    }

    .moment-title {
      font-size: 18px;
      color: #00BCD4;
    }

    &:before {
      content: "";
      position: absolute;
      left: -43px;
      top: 0;
      display: inline-block;
      width: 22px;
      height: 22px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #fff;
      border: 3px solid #00BCD4;
    }

    &:after {
      content: "";
      position: absolute;
      left: -37px;
      top: 6px;
      display: inline-block;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #00BCD4;
      z-index: 10;
    }
  }
}
