
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// mdbootstrap
@import "node_modules/materialize-css/sass/materialize";

// @todo We need to split these coding.
.timeline {
  border-left: 3px solid #00BCD4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
  
  .item {
    position: relative;
    margin-bottom: 45px;
    list-style: none;

    .moment-meta {
      position: absolute;
      left: -280px;
      top: 0;
    }

    .moment-title {
      font-size: 18px;
      color: #00BCD4;
    }

    &:before {
      content: "";
      position: absolute;
      left: -43px;
      top: 0;
      display: inline-block;
      width: 22px;
      height: 22px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #fff;
      border: 3px solid #00BCD4;
    }

    &:after {
      content: "";
      position: absolute;
      left: -37px;
      top: 6px;
      display: inline-block;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #00BCD4;
      z-index: 10;
    }
  }
}
